body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh; 
    position: relative;
    padding-bottom: 60px; 
    box-sizing: border-box;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.plus-button {
    margin: 100px 0px;
    text-align: center;
}

.fa-circle-plus{
    color: #5E5E5E;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
    display: flex;
    justify-content: center;
    position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #F8F8F8;
    
}

.footer p {
	margin-top: 25px;
	font-size: 15px;
    color: #5E5E5E;
}