<div class="form-group">
    <label for="title" class="mb-2">Title</label>
    <input required value="<%= article.title %> " type="text" name="title" id="title" class="form-control mb-2">
</div>

<div class="form-group">
    <label for="description" class="mb-2">Description</label>
    <textarea required name="description" id="description" class="form-control mb-2"><%= article.description %> </textarea>
</div>

<div class="form-group">
    <label for="markdown">Markdown</label>
    <textarea required name="markdown" id="markdown" class="form-control mb-3"><%= article.markdown %> </textarea>
</div>

<button type="submit" class="btn btn-secondary">Save</button>
<a href="/" class="btn btn-secondary">Cancel</a>